@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --light-mode-main-navbar-bg-color: rgb(220, 220, 220);
  --default-font-family: 'Inter', Arial, Lato, Helvetica;
}

body {
  margin: 0;
}